tcl/old_scripts
rtl/router
rtl/ring16_8buf_2vch_cg
rtl/mesh_4x4_16buf_4vch_cg
rtl/ring16_8buf_2vch
rtl/mesh_4x4_16buf_4vch
rtl/mesh_3x3_8buf_4vch
rtl/adder/propagation
rtl/adder/characterization/*.v
rtl/multiplier/characterization/*.v
rtl/mux/characterization_old/
rtl/mux/characterization/*.v
rtl/mux/validation/
work/
sim/ring16_8buf_2vch_cg/
sim/mesh_4x4_16buf_4vch_cg/
sim/ring16_8buf_2vch/
sim/mesh_4x4_16buf_4vch/
sim/mesh_3x3_8buf_4vch/
sim/router/
sim/adder/reports/*.rpt
sim/multiplier/reports/*.rpt
sim/mux/reports/*.rpt
tcl/power/.nfs0000000014b0d133000093bd



